/* Global decorative atomic elements */

body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
}

header ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

/* Header section with navbar and hero */

header {
  background-color: #1F2937;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  padding: 0px;
  gap: 24px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
}

.hero-text {
  width: 300px;
}

.hero-title {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-image-container {
  flex-shrink: 0;
  min-width: 300px;
  min-height: 96px;
  font-size: 18px;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
  background-color: grey;
  padding: 48px;
}

/* Main section with catalogue, quote and signup sections */

main {
  flex: 1;
}

/* CATALOGUE */

.catalogue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalogue-title {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  flex-wrap: wrap;
}

.catalogue-cards {
  gap: 48px;
  font-size: 18px;
  color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.catalogue-card-image {
  flex-shrink: 0;
  border-radius: 8px;
  width: 128px;
  height: 128px;
  border: 4px solid #3882FA;
  border-color: #3882FA;
}

.catalogue-card-text {
  max-width: 128px;
}
